# Pandas

A pandas series is very similar to a numpy array, expect for the addition of a named index. We can use this named index to grab data from the array.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a', 'b', 'c']
myList = [10,20,30]
arr = np.array([10,20,30])
d = {'a': 10, "b": 20, "c":30}

In [ ]:
# by default, it will have a numbered index
pd.Series(data=myList)

0    10
1    20
2    30
dtype: int64

In [ ]:
# set the index to labels
# longer version. works both ways
# pd.Series(data=myList, index=labels)
pd.Series(myList, labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
# we can also use numpy arrays
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
# transform a dictionary into a Series
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [ ]:
salesQ1 = pd.Series(data=[250,450,200,150], index=['USA', 'China', 'India', 'Philippines'])
salesQ1

USA            250
China          450
India          200
Philippines    150
dtype: int64

In [ ]:
salesQ2 = pd.Series(data=[260,500,210,100], index=['USA', 'China', 'India', 'Japan'])
salesQ2

USA      260
China    500
India    210
Japan    100
dtype: int64

In [ ]:
# we can use label index to get value
salesQ2['China']

500

In [ ]:
# we can use number index to get value
salesQ2[0]

260

In [ ]:
# using the wrong number index / label index will throw an error
# label index are case sensitive
# these won't work
# sales['usa']
# sales[10]

In [ ]:
# adding the series
# if the labels are not similar for the Series the default behavior is that this will set their values to NaN. No Warnings / Error
salesQ1 + salesQ2

China          950.0
India          410.0
Japan            NaN
Philippines      NaN
USA            510.0
dtype: float64